@font-face {
  font-family: "bree";
  src: url("./fonts/bree-regular.woff2") format("woff2"),
    url("./fonts/bree-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bree";
  src: url("./fonts/bree-bold.woff2") format("woff2"),
    url("./fonts/bree-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "bree";
  src: url("./fonts/bree-light.woff2") format("woff2"),
    url("./fonts/bree-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./fonts/myriad-pro.woff2") format("woff2"),
    url("./fonts/myriad-pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("./fonts/myriad-pro-semibold.woff2") format("woff2"),
    url("./fonts/myriad-pro-semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "sans serif";
  color: #58585a;
  line-height: 1.5;
  letter-spacing: -0.04rem;
}

#app-updated-notification {
  display: none;
  position: fixed;
  background: #444;
  color: #eee;
  bottom: 3rem;
  left: 50%;
  width: 30rem;
  margin-left: -18rem;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 20px;
}

#app-updated-notification a {
  color: #f29400;
  text-decoration: none;
}
